.sidebar1 {
    width: 230px;
    background-color: #B1B8CF;
    padding: 20px;
    display: flex;
    flex-direction: column;

}

.sidebar1 .logo {
    margin-bottom: 30px;
}

.sidebar1 .logo img {
    height: 50px;
    margin-bottom: 10px;
}

.sidebar1 .nav a {
    display: flex;
    position: relative;
    align-items: center;
    gap: 10px;
    color: black;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 10px;
    font-weight: 500;
    font-weight: bold;
}

.sidebar1 .nav a span {
    flex: 1;
}

.sidebar1 .nav a.active,
.sidebar1 .nav a:hover {
    color: white;
    background-color: #4E567D;
}

.sidebar1 .nav a::before {
    content: '';
    position: absolute;
    left: -10px;
    top: 0;
    width: 4px;
    height: 100%;
    background-color: transparent;
    transition: background-color 0.3s;
    border-radius: 0 4px 4px 0;
}

.sidebar1 .nav a.active::before,
.sidebar1 .nav a:hover::before {
    background-color: #4E567D;
}

.topbar1 {
    background-color: #4E567D;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.search-box1 {
    position: relative;
    display: flex;
    align-items: center;
}

.search-box1 input {
    padding: 8px 14px 8px 35px;
    border-radius: 20px;
    border: none;
    width: 200px;
    background-color: #E6E9F4;
}

.search-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: white;
    border-radius: 12px;
    margin-top: 5px;
    list-style: none;
    padding: 0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    max-height: 250px;
    overflow-y: auto;
    border: 1px solid #e6dffc;
}

.search-dropdown li {
    padding: 10px 16px;
    border-bottom: 2px solid #eee;
    cursor: pointer;
    color: black;
}

.search-dropdown li:last-child {
    border-bottom: none;
}

.search-dropdown li:hover {
    background-color: #f1f1f1;
}

.profile-name1 span {
    color:white;
    display: block;
    font-weight: bold;
}

.profile-name1 small {
    font-size: 12px;
    color: white;
}

.dropdown1 {
    position: relative;
}

.dropdown1 i{
    color: white;
}

.dropdown1 .show {
    display: block;
}

