.search-box2 {
    position: relative;
    display: flex;
    align-items: center;
}

.search-box2 input {
    padding: 8px 14px 8px 35px;
    border-radius: 20px;
    border: none;
    width: 200px;
    background-color: #E6E9F4;
}

.main{
    overflow-x: hidden;
}

@media(max-width: 750px) {
  .topbar1 .profile-section {
    padding-left: 0px;
  }
}